In [79]:
import pandas as pd
import numpy as np

lng = pd.read_csv("gas_data/lng.csv", encoding="cp949")
introduction = pd.read_csv("gas_data/introduction.csv", encoding="utf8")
import_index = pd.read_csv("gas_data/import_index.csv", encoding="cp949")
main = pd.read_csv("gas_data/main.csv", encoding="cp949")
oil = pd.read_csv("gas_data/oil.csv", encoding="cp949")
electricity = pd.read_csv("gas_data/electricity.csv", encoding="cp949")
# production_index = pd.read_csv("gas_data/production_index.csv", encoding="cp949")

temp2013 = pd.read_csv("gas_data/temp2013.csv", encoding="cp949")
temp2014 = pd.read_csv("gas_data/temp2014.csv", encoding="cp949")
temp2015 = pd.read_csv("gas_data/temp2015.csv", encoding="cp949")
temp2016 = pd.read_csv("gas_data/temp2016.csv", encoding="cp949")
temp2017 = pd.read_csv("gas_data/temp2017.csv", encoding="cp949")
temp2018 = pd.read_csv("gas_data/temp2018.csv", encoding="cp949")

In [80]:
lng

,국가별,2013,2013.1,2013.2,2013.3,2014,2014.1,2014.2,2014.3,2015,...,2016.2,2016.3,2017,2017.1,2017.2,2017.3,2018,2018.1,2018.2,2018.3
0,국가별,생산 (exajoules),- 점유율 (%),소비 (exajoules),- 점유율 (%),생산 (exajoules),- 점유율 (%),소비 (exajoules),- 점유율 (%),생산 (exajoules),...,소비 (exajoules),- 점유율 (%),생산 (exajoules),- 점유율 (%),소비 (exajoules),- 점유율 (%),생산 (exajoules),- 점유율 (%),소비 (exajoules),- 점유율 (%)
1,세계,121.2,100.0,121.4,100.0,123.6,100.0,122.2,100.0,126.4,...,128.0,100.0,132.2,100.0,131.5,100.0,138.7,100.0,138.1,100.0
2,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,대한민국,-,-,2.0,1.6,-,-,1.8,1.4,-,...,1.7,1.3,-,-,1.8,1.3,-,-,2.1,1.5
4,아제르바이잔,0.6,0.5,0.3,0.3,0.7,0.5,0.4,0.3,0.7,...,0.4,0.3,0.6,0.5,0.4,0.3,0.7,0.5,0.4,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,나이지리아,1.2,1.1,-,-,1.4,1.1,-,-,1.7,...,-,-,1.7,1.3,-,-,1.7,1.3,-,-
88,남아프리카공화국,-,-,0.1,0.1,-,-,0.2,0.1,-,...,0.1,0.1,-,-,0.1,0.1,-,-,0.2,0.1
89,오세아니아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,오스트레일리아,2.2,1.3,1.2,0.5,2.3,1.6,1.3,0.9,2.7,...,1.4,1.2,4.0,3.1,1.3,1.1,4.6,3.4,1.3,1.1
91,뉴질랜드,-,-,0.2,0.1,-,-,0.2,0.1,-,...,0.2,0.1,-,-,0.2,0.1,-,-,0.2,0.1

In [81]:
new_lng = lng[['국가별','2013','2014','2015','2016','2017','2018']]
new_lng = new_lng[1:]

In [82]:
new_lng = new_lng.transpose() #행 열 전환
new_lng.rename(columns=new_lng.iloc[0], inplace=True) # 행열이 전환된 데이터프레임의 열 이름 제대로 수정
new_lng = new_lng.drop(new_lng.index[0])

In [83]:
new_lng['year'] = new_lng.index

In [84]:
new_lng = new_lng.reset_index(drop=True)

In [85]:
lng = new_lng

In [86]:
lng.drop(['아시아', '대한민국', '북아메리카', '남아메리카', '유럽', '아프리카', '오세아니아'], axis=1, inplace = True)

In [87]:
lng

,세계,아제르바이잔,바레인,방글라데시,브루나이,중국,홍콩,인도,인도네시아,이란,...,영국,알제리,이집트,리비아,모로코,나이지리아,남아프리카공화국,오스트레일리아,뉴질랜드,year
0,121.2,0.6,0.5,0.8,0.4,4.4,-,1.1,2.8,5.7,...,1.3,2.9,1.9,0.4,-,1.2,-,2.2,-,2013
1,123.6,0.7,0.5,0.8,0.5,4.7,-,1.1,2.8,6.3,...,1.3,2.9,1.7,0.4,-,1.4,-,2.3,-,2014
2,126.4,0.7,0.5,0.9,0.5,4.9,-,1.0,2.7,6.6,...,1.5,2.9,1.5,0.5,-,1.7,-,2.7,-,2015
3,127.6,0.7,0.5,1.0,0.5,5.0,-,1.0,2.7,7.2,...,1.5,3.3,1.4,0.5,-,1.5,-,3.4,-,2016
4,132.2,0.6,0.5,1.0,0.5,5.4,-,1.0,2.6,7.7,...,1.5,3.3,1.8,0.5,-,1.7,-,4.0,-,2017
5,138.7,0.7,0.5,1.0,0.5,5.8,-,1.0,2.6,8.1,...,1.5,3.4,2.1,0.5,-,1.7,-,4.6,-,2018