In [39]:
import os
import pandas as pd
import numpy as np

In [40]:
for dirname, _, filenames in os.walk('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data'):
  for filename in filenames:
    print(os.path.join(dirname, filename))

/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/electricity.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/production_index.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/main.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/oil.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2014.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2017.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2015.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2016.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2018.csv
/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2013.csv

In [41]:
main = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/main.csv', encoding = 'cp949')
temp2013 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2013.csv', encoding = 'cp949')
temp2014 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2014.csv', encoding = 'cp949')
temp2015 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2015.csv', encoding = 'cp949')
temp2016 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2016.csv', encoding = 'cp949')
temp2017 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2017.csv', encoding ='cp949')
temp2018 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/temp2018.csv', encoding = 'cp949')
oil = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/oil.csv', encoding = 'cp949')
production_index = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/production_index.csv', encoding = 'cp949')
electricity = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/빅데프/BDP_Project/gas_data/electricity.csv', encoding = 'cp949')

In [42]:
main['구분'].unique()

array(['A', 'B', 'C', 'D', 'E', 'G', 'H'], dtype=object)

In [43]:
#main의 구분
d_map={}
for i, d in enumerate(main['구분'].unique()):
  d_map[d] = i

#A,B,C,D,E,F,..를 0,1,2,3,4,5,6으로 구분
main['구분'] = main['구분'].map(d_map)
main['구분']

0         0
1         0
2         0
3         0
4         0
         ..
368083    6
368084    6
368085    6
368086    6
368087    6
Name: 구분, Length: 368088, dtype: int64

In [44]:
main['연월일'] = pd.to_datetime(main['연월일'])
main['year'] = main['연월일'].dt.year
main['month'] = main['연월일'].dt.month
main['day'] = main['연월일'].dt.day

In [45]:
def outliers_processing(df):
  q1, q3 = np.percentile(df, [25, 75])
  iqr = q3-q1
  lower_bound = q1-(iqr*1.5)
  upper_bound = q3 + (iqr*1.5)
  return lower_bound, upper_bound

In [46]:
main_by_sections = {}
for i in range(7):
  main_by_sections[i] = main[main['구분'] == i]
main_by_sections

{0:               연월일  시간  구분       공급량  year  month  day
 0      2013-01-01   1   0  2497.129  2013      1    1
 1      2013-01-01   2   0  2363.265  2013      1    1
 2      2013-01-01   3   0  2258.505  2013      1    1
 3      2013-01-01   4   0  2243.969  2013      1    1
 4      2013-01-01   5   0  2344.105  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 315523 2018-12-31  20   0  3040.868  2018     12   31
 315524 2018-12-31  21   0  2973.577  2018     12   31
 315525 2018-12-31  22   0  2840.272  2018     12   31
 315526 2018-12-31  23   0  2692.385  2018     12   31
 315527 2018-12-31  24   0  2583.340  2018     12   31

 [52584 rows x 7 columns],
 1:               연월일  시간  구분       공급량  year  month  day
 8760   2013-01-01   1   1  2169.093  2013      1    1
 8761   2013-01-01   2   1  2051.733  2013      1    1
 8762   2013-01-01   3   1  1923.253  2013      1    1
 8763   2013-01-01   4   1  1927.253  2013      1    1
 8764   2013-01-01   5   1  2047.333  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 324283 2018-12-31  20   1  2668.688  2018     12   31
 324284 2018-12-31  21   1  2606.681  2018     12   31
 324285 2018-12-31  22   1  2540.169  2018     12   31
 324286 2018-12-31  23   1  2407.945  2018     12   31
 324287 2018-12-31  24   1  2290.154  2018     12   31

 [52584 rows x 7 columns],
 2:               연월일  시간  구분      공급량  year  month  day
 17520  2013-01-01   1   2  226.178  2013      1    1
 17521  2013-01-01   2   2  215.778  2013      1    1
 17522  2013-01-01   3   2  202.178  2013      1    1
 17523  2013-01-01   4   2  198.978  2013      1    1
 17524  2013-01-01   5   2  200.578  2013      1    1
 ...           ...  ..  ..      ...   ...    ...  ...
 333043 2018-12-31  20   2  265.980  2018     12   31
 333044 2018-12-31  21   2  262.239  2018     12   31
 333045 2018-12-31  22   2  256.000  2018     12   31
 333046 2018-12-31  23   2  246.020  2018     12   31
 333047 2018-12-31  24   2  237.911  2018     12   31

 [52584 rows x 7 columns],
 3:               연월일  시간  구분       공급량  year  month  day
 26280  2013-01-01   1   3  1434.516  2013      1    1
 26281  2013-01-01   2   3  1345.636  2013      1    1
 26282  2013-01-01   3   3  1270.756  2013      1    1
 26283  2013-01-01   4   3  1322.036  2013      1    1
 26284  2013-01-01   5   3  1421.956  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 341803 2018-12-31  20   3  1835.411  2018     12   31
 341804 2018-12-31  21   3  1767.964  2018     12   31
 341805 2018-12-31  22   3  1720.595  2018     12   31
 341806 2018-12-31  23   3  1624.138  2018     12   31
 341807 2018-12-31  24   3  1422.478  2018     12   31

 [52584 rows x 7 columns],
 4:               연월일  시간  구분       공급량  year  month  day
 35040  2013-01-01   1   4  3272.837  2013      1    1
 35041  2013-01-01   2   4  3057.125  2013      1    1
 35042  2013-01-01   3   4  2907.765  2013      1    1
 35043  2013-01-01   4   4  2930.789  2013      1    1
 35044  2013-01-01   5   4  3067.805  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 350563 2018-12-31  20   4  4074.485  2018     12   31
 350564 2018-12-31  21   4  4037.720  2018     12   31
 350565 2018-12-31  22   4  3954.210  2018     12   31
 350566 2018-12-31  23   4  3745.844  2018     12   31
 350567 2018-12-31  24   4  3534.260  2018     12   31

 [52584 rows x 7 columns],
 5:               연월일  시간  구분       공급량  year  month  day
 43800  2013-01-01   1   5  3560.365  2013      1    1
 43801  2013-01-01   2   5  3354.245  2013      1    1
 43802  2013-01-01   3   5  3115.757  2013      1    1
 43803  2013-01-01   4   5  3034.237  2013      1    1
 43804  2013-01-01   5   5  3050.469  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 359323 2018-12-31  20   5  4657.562  2018     12   31
 359324 2018-12-31  21   5  4486.845  2018     12   31
 359325 2018-12-31  22   5  4354.915  2018     12   31
 359326 2018-12-31  23   5  4204.484  2018     12   31
 359327 2018-12-31  24   5  3982.757  2018     12   31

 [52584 rows x 7 columns],
 6:               연월일  시간  구분      공급량  year  month  day
 52560  2013-01-01   1   6  562.964  2013      1    1
 52561  2013-01-01   2   6  531.228  2013      1    1
 52562  2013-01-01   3   6  496.276  2013      1    1
 52563  2013-01-01   4   6  489.396  2013      1    1
 52564  2013-01-01   5   6  535.420  2013      1    1
 ...           ...  ..  ..      ...   ...    ...  ...
 368083 2018-12-31  20   6  681.033  2018     12   31
 368084 2018-12-31  21   6  669.961  2018     12   31
 368085 2018-12-31  22   6  657.941  2018     12   31
 368086 2018-12-31  23   6  610.953  2018     12   31
 368087 2018-12-31  24   6  560.896  2018     12   31

 [52584 rows x 7 columns]}

In [47]:
lower = {}
upper = {}
for i in range(7):
  lower[i] = {}
  upper[i] = {}
  for j in range(12):
    lower[i][j], upper[i][j]= outliers_processing(main_by_sections[i][main_by_sections[i]['month'] == j+1]['공급량'])

In [48]:
main['lower'] =""
main['upper'] =""

In [52]:
for i in range(7):
  for j in range(12):
    main.loc[(main['구분']==i)&(main['month']==j+1),'lower' ] = lower[i][j]
    main.loc[(main['구분']==i)&(main['month']==j+1),'upper' ] = upper[i][j]

In [53]:
main['이상치처리_공급량'] =""

In [54]:
main['이상치처리_공급량'] = main.apply(lambda x: x['lower'] if x['공급량'] < x['lower'] else x['upper'] if x['공급량'] > x['upper'] else x['공급량'], axis = 1)

In [55]:
main['공급량'] = main['이상치처리_공급량']
main = main.drop(['lower', 'upper', '이상치처리_공급량'], axis = 1)
main

              연월일  시간  구분       공급량  year  month  day
0      2013-01-01   1   0  2497.129  2013      1    1
1      2013-01-01   2   0  2363.265  2013      1    1
2      2013-01-01   3   0  2258.505  2013      1    1
3      2013-01-01   4   0  2243.969  2013      1    1
4      2013-01-01   5   0  2344.105  2013      1    1
...           ...  ..  ..       ...   ...    ...  ...
368083 2018-12-31  20   6   681.033  2018     12   31
368084 2018-12-31  21   6   669.961  2018     12   31
368085 2018-12-31  22   6   657.941  2018     12   31
368086 2018-12-31  23   6   610.953  2018     12   31
368087 2018-12-31  24   6   560.896  2018     12   31

[368088 rows x 7 columns]