In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
#sparksession 드라이버 프로세스 얻기
spark = SparkSession.builder.appName("sample").master("local[*]").getOrCreate()
#클러스터모드의 경우 master에 local[*] 대신 yarn이 들어간다.ZZZZZZQ`ZZZS
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)
#jupyter환경에서만 가능한 config, .show"()메소드를 사용할 필요없이 dataframe만 실행해도,정렬된 프린팅을 해준다.

In [8]:
main = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//main.csv", header="true", inferSchema="true", encoding="cp949")
oil = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//oil.csv", header="true", inferSchema="true", encoding="cp949")
electricity = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//electricity.csv", header="true", inferSchema="true",encoding="cp949")
import_index = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//import_index.csv", header="true", inferSchema="true",encoding="cp949")
lng = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//lng.csv", header="true", inferSchema="true",encoding="cp949")
introduction = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//introduction.csv", header="true", inferSchema="true",encoding="utf-8")
temp2013 = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2013.csv", header="true", inferSchema="true",encoding="cp949")
temp2014 = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2014.csv", header="true", inferSchema="true",encoding="cp949")
temp2015 = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2015.csv", header="true", inferSchema="true",encoding="cp949")
temp2016 = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2016.csv", header="true", inferSchema="true",encoding="cp949")
temp2017 = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2017.csv", header="true", inferSchema="true",encoding="cp949")
temp2018 = spark.read.csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2018.csv", header="true", inferSchema="true",encoding="cp949")

In [104]:
main.select("구분").distinct().show()

+----+
|구분|
+----+
|   E|
|   B|
|   D|
|   C|
|   A|
|   G|
|   H|
+----+

In [6]:
new = {}
for i, row_iterator in enumerate(main.select("구분").distinct().collect()):
    new[i] = row_iterator["구분"]

In [123]:
import pandas as pd
main = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//main.csv", encoding="cp949")
oil = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//oil.csv", encoding="cp949")
electricity = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//electricity.csv", encoding="cp949")
import_index = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//import_index.csv", encoding="cp949")
lng = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//lng.csv", encoding="cp949")
introduction = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//introduction.csv", encoding="utf-8")
temp2013 = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2013.csv", encoding="cp949")
temp2014 = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2014.csv", encoding="cp949")
temp2015 = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2015.csv", encoding="cp949")
temp2016 = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2016.csv", encoding="cp949")
temp2017 = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2017.csv", encoding="cp949")
temp2018 = pd.read_csv("C://Users//USER//BDP-Project//BDP-Project//gas_data//temp2018.csv", encoding="cp949")

In [124]:
main['구분'].unique()

array(['A', 'B', 'C', 'D', 'E', 'G', 'H'], dtype=object)

In [125]:
d_map={}
for i, d in enumerate(main['구분'].unique()):
  d_map[d] = i

In [126]:
main['구분'] = main['구분'].map(d_map)
main['구분']

0         0
1         0
2         0
3         0
4         0
         ..
368083    6
368084    6
368085    6
368086    6
368087    6
Name: 구분, Length: 368088, dtype: int64

In [127]:
main['연월일'] = pd.to_datetime(main['연월일'])
main['year'] = main['연월일'].dt.year
main['month'] = main['연월일'].dt.month
main['day'] = main['연월일'].dt.day

In [128]:
def outliers_processing(df):
  q1, q3 = np.percentile(df, [25, 75])
  iqr = q3-q1
  lower_bound = q1-(iqr*1.5)
  upper_bound = q3 + (iqr*1.5)
  return lower_bound, upper_bound

In [129]:
main_by_sections = {}
for i in range(7):
  main_by_sections[i] = main[main['구분'] == i]
main_by_sections

{0:               연월일  시간  구분       공급량  year  month  day
 0      2013-01-01   1   0  2497.129  2013      1    1
 1      2013-01-01   2   0  2363.265  2013      1    1
 2      2013-01-01   3   0  2258.505  2013      1    1
 3      2013-01-01   4   0  2243.969  2013      1    1
 4      2013-01-01   5   0  2344.105  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 315523 2018-12-31  20   0  3040.868  2018     12   31
 315524 2018-12-31  21   0  2973.577  2018     12   31
 315525 2018-12-31  22   0  2840.272  2018     12   31
 315526 2018-12-31  23   0  2692.385  2018     12   31
 315527 2018-12-31  24   0  2583.340  2018     12   31

 [52584 rows x 7 columns],
 1:               연월일  시간  구분       공급량  year  month  day
 8760   2013-01-01   1   1  2169.093  2013      1    1
 8761   2013-01-01   2   1  2051.733  2013      1    1
 8762   2013-01-01   3   1  1923.253  2013      1    1
 8763   2013-01-01   4   1  1927.253  2013      1    1
 8764   2013-01-01   5   1  2047.333  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 324283 2018-12-31  20   1  2668.688  2018     12   31
 324284 2018-12-31  21   1  2606.681  2018     12   31
 324285 2018-12-31  22   1  2540.169  2018     12   31
 324286 2018-12-31  23   1  2407.945  2018     12   31
 324287 2018-12-31  24   1  2290.154  2018     12   31

 [52584 rows x 7 columns],
 2:               연월일  시간  구분      공급량  year  month  day
 17520  2013-01-01   1   2  226.178  2013      1    1
 17521  2013-01-01   2   2  215.778  2013      1    1
 17522  2013-01-01   3   2  202.178  2013      1    1
 17523  2013-01-01   4   2  198.978  2013      1    1
 17524  2013-01-01   5   2  200.578  2013      1    1
 ...           ...  ..  ..      ...   ...    ...  ...
 333043 2018-12-31  20   2  265.980  2018     12   31
 333044 2018-12-31  21   2  262.239  2018     12   31
 333045 2018-12-31  22   2  256.000  2018     12   31
 333046 2018-12-31  23   2  246.020  2018     12   31
 333047 2018-12-31  24   2  237.911  2018     12   31

 [52584 rows x 7 columns],
 3:               연월일  시간  구분       공급량  year  month  day
 26280  2013-01-01   1   3  1434.516  2013      1    1
 26281  2013-01-01   2   3  1345.636  2013      1    1
 26282  2013-01-01   3   3  1270.756  2013      1    1
 26283  2013-01-01   4   3  1322.036  2013      1    1
 26284  2013-01-01   5   3  1421.956  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 341803 2018-12-31  20   3  1835.411  2018     12   31
 341804 2018-12-31  21   3  1767.964  2018     12   31
 341805 2018-12-31  22   3  1720.595  2018     12   31
 341806 2018-12-31  23   3  1624.138  2018     12   31
 341807 2018-12-31  24   3  1422.478  2018     12   31

 [52584 rows x 7 columns],
 4:               연월일  시간  구분       공급량  year  month  day
 35040  2013-01-01   1   4  3272.837  2013      1    1
 35041  2013-01-01   2   4  3057.125  2013      1    1
 35042  2013-01-01   3   4  2907.765  2013      1    1
 35043  2013-01-01   4   4  2930.789  2013      1    1
 35044  2013-01-01   5   4  3067.805  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 350563 2018-12-31  20   4  4074.485  2018     12   31
 350564 2018-12-31  21   4  4037.720  2018     12   31
 350565 2018-12-31  22   4  3954.210  2018     12   31
 350566 2018-12-31  23   4  3745.844  2018     12   31
 350567 2018-12-31  24   4  3534.260  2018     12   31

 [52584 rows x 7 columns],
 5:               연월일  시간  구분       공급량  year  month  day
 43800  2013-01-01   1   5  3560.365  2013      1    1
 43801  2013-01-01   2   5  3354.245  2013      1    1
 43802  2013-01-01   3   5  3115.757  2013      1    1
 43803  2013-01-01   4   5  3034.237  2013      1    1
 43804  2013-01-01   5   5  3050.469  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 359323 2018-12-31  20   5  4657.562  2018     12   31
 359324 2018-12-31  21   5  4486.845  2018     12   31
 359325 2018-12-31  22   5  4354.915  2018     12   31
 359326 2018-12-31  23   5  4204.484  2018     12   31
 359327 2018-12-31  24   5  3982.757  2018     12   31

 [52584 rows x 7 columns],
 6:               연월일  시간  구분      공급량  year  month  day
 52560  2013-01-01   1   6  562.964  2013      1    1
 52561  2013-01-01   2   6  531.228  2013      1    1
 52562  2013-01-01   3   6  496.276  2013      1    1
 52563  2013-01-01   4   6  489.396  2013      1    1
 52564  2013-01-01   5   6  535.420  2013      1    1
 ...           ...  ..  ..      ...   ...    ...  ...
 368083 2018-12-31  20   6  681.033  2018     12   31
 368084 2018-12-31  21   6  669.961  2018     12   31
 368085 2018-12-31  22   6  657.941  2018     12   31
 368086 2018-12-31  23   6  610.953  2018     12   31
 368087 2018-12-31  24   6  560.896  2018     12   31

 [52584 rows x 7 columns]}

In [130]:
import numpy as np
lower = {}
upper = {}
for i in range(7):
  lower[i] = {}
  upper[i] = {}
  for j in range(12):
    lower[i][j], upper[i][j]= outliers_processing(main_by_sections[i][main_by_sections[i]['month'] == j+1]['공급량'])

In [131]:
main['lower'] =""
main['upper'] =""

In [132]:
for i in range(7):
  for j in range(12):
    main.loc[(main['구분']==i)&(main['month']==j+1),'lower' ] = lower[i][j]
    main.loc[(main['구분']==i)&(main['month']==j+1),'upper' ] = upper[i][j]

In [133]:
main['이상치처리_공급량'] =""
main['이상치처리_공급량'] = main.apply(lambda x: x['lower'] if x['공급량'] < x['lower'] else x['upper'] if x['공급량'] > x['upper'] else x['공급량'], axis = 1)

In [134]:
main['공급량'] = main['이상치처리_공급량']
main = main.drop(['lower', 'upper', '이상치처리_공급량'], axis = 1)
main

              연월일  시간  구분       공급량  year  month  day
0      2013-01-01   1   0  2497.129  2013      1    1
1      2013-01-01   2   0  2363.265  2013      1    1
2      2013-01-01   3   0  2258.505  2013      1    1
3      2013-01-01   4   0  2243.969  2013      1    1
4      2013-01-01   5   0  2344.105  2013      1    1
...           ...  ..  ..       ...   ...    ...  ...
368083 2018-12-31  20   6   681.033  2018     12   31
368084 2018-12-31  21   6   669.961  2018     12   31
368085 2018-12-31  22   6   657.941  2018     12   31
368086 2018-12-31  23   6   610.953  2018     12   31
368087 2018-12-31  24   6   560.896  2018     12   31

[368088 rows x 7 columns]

In [135]:
# # Electricity data preprocessing
electricity['연월'] = pd.to_datetime(electricity['연월'])
electricity['year'] = electricity['연월'].dt.year
electricity['month'] = electricity['연월'].dt.month

electricity = electricity.drop(['연월'], axis = 1)
electricity

       가스가격    전기가격    상대가격  year  month
0     88.14  104.50   84.34  2007      1
1     88.14  104.50   84.34  2007      2
2     86.15  104.50   82.44  2007      3
3     86.15  104.50   82.44  2007      4
4     89.45  104.50   85.60  2007      5
..      ...     ...     ...   ...    ...
184  105.02  111.45   94.23  2022      5
185  105.02  111.45   94.23  2022      6
186  112.03  102.00  109.83  2022      7
187  112.11  102.00  109.91  2022      8
188  112.11  118.44   94.66  2022      9

[189 rows x 5 columns]

In [136]:
electricity_join = pd.merge(main,electricity, how='inner',on=('year', 'month'))

In [137]:
electricity = electricity_join

In [138]:
# # Oil data preprocessing

In [139]:
oil['연월'] = pd.to_datetime(oil['연월'])
oil['year'] = oil['연월'].dt.year
oil['month'] = oil['연월'].dt.month

In [140]:
oil = oil.drop(['연월'], axis = 1)
oil

       가스가격    기름가격  상대가격  year  month
0     73.60   97.08  0.76  2007      1
1     73.60   97.25  0.76  2007      2
2     71.55  100.61  0.72  2007      3
3     71.55  103.96  0.69  2007      4
4     74.89  107.27  0.70  2007      5
..      ...     ...   ...   ...    ...
184  121.11  219.94  0.56  2022      5
185  121.52  231.03  0.53  2022      6
186  134.92  221.45  0.61  2022      7
187  173.16  200.63  0.87  2022      8
188  192.58  197.16  0.98  2022      9

[189 rows x 5 columns]

In [141]:
oil_join = pd.merge(main,oil, how='inner',on=('year', 'month'))
oil = oil_join

In [142]:
# # Temp data preprocessing
temp_mean2013 = pd.pivot_table(temp2013, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2014 = pd.pivot_table(temp2014, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2015 = pd.pivot_table(temp2015, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2016 = pd.pivot_table(temp2016, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2017 = pd.pivot_table(temp2017, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2018 = pd.pivot_table(temp2018, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()

In [143]:
temp_mean2013['날짜'] = temp_mean2013['날짜'].str.slice(1,)
temp_mean2014['날짜'] = temp_mean2014['날짜'].str.slice(1,)
temp_mean2015['날짜'] = temp_mean2015['날짜'].str.slice(1,)
temp_mean2016['날짜'] = temp_mean2016['날짜'].str.slice(1,)
temp_mean2017['날짜'] = temp_mean2017['날짜'].str.slice(1,)
temp_mean2018['날짜'] = temp_mean2018['날짜'].str.slice(1,)

In [144]:
def df_duplicate(df):
  new_df = pd.DataFrame()
  for _ in range(7):
    new_df = pd.concat([new_df, df])
  return new_df

In [145]:
weather_2013_total = df_duplicate(temp_mean2013)
weather_2014_total = df_duplicate(temp_mean2014)
weather_2015_total = df_duplicate(temp_mean2015)
weather_2016_total = df_duplicate(temp_mean2016)
weather_2017_total = df_duplicate(temp_mean2017)
weather_2018_total = df_duplicate(temp_mean2018)

In [146]:
weather_total = pd.concat([weather_2013_total, weather_2014_total, weather_2015_total, 
                           weather_2016_total, weather_2017_total, weather_2018_total])

weather_total

             날짜  평균기온(℃)
0    2013-01-01     -4.7
1    2013-01-02    -11.7
2    2013-01-03    -13.2
3    2013-01-04    -10.7
4    2013-01-05     -7.0
..          ...      ...
360  2018-12-27    -10.1
361  2018-12-28    -10.5
362  2018-12-29     -7.6
363  2018-12-30     -6.8
364  2018-12-31     -5.4

[15337 rows x 2 columns]

In [147]:
weather_total['날짜'] = pd.to_datetime(weather_total['날짜'])
weather_total['year'] = weather_total['날짜'].dt.year 
weather_total['month'] = weather_total['날짜'].dt.month 
weather_total['day'] = weather_total['날짜'].dt.day

In [148]:
weather_total.drop(['날짜'], axis = 1)

     평균기온(℃)  year  month  day
0       -4.7  2013      1    1
1      -11.7  2013      1    2
2      -13.2  2013      1    3
3      -10.7  2013      1    4
4       -7.0  2013      1    5
..       ...   ...    ...  ...
360    -10.1  2018     12   27
361    -10.5  2018     12   28
362     -7.6  2018     12   29
363     -6.8  2018     12   30
364     -5.4  2018     12   31

[15337 rows x 4 columns]

In [149]:
# # Import data preprocessing
import_index = import_index[import_index['계정코드별'].str.contains('가스', na = False)]

In [150]:
import_index.drop(['Unnamed: 76','단위','항목'], axis=1, inplace=True)

In [151]:
import_index = import_index[import_index['통화계약구분코드별'].str.contains('달러기준', na = False)]

In [152]:
import_index.drop(['통화계약구분코드별'], axis=1, inplace=True)
import_index.head()

,계정코드별,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,...,2018.03 월,2018.04 월,2018.05 월,2018.06 월,2018.07 월,2018.08 월,2018.09 월,2018.10 월,2018.11 월,2018.12 월
56,"석탄,원유및천연가스",190.46,194.75,187.86,182.29,180.80,180.65,183.44,189.30,190.54,...,118.77,126.23,134.87,134.72,133.05,132.79,140.82,144.15,127.28,116.86
413,천연가스(LNG),151.82,154.08,154.76,151.69,151.11,152.35,150.72,157.01,154.67,...,93.73,97.29,101.17,101.01,100.97,105.19,111.67,113.75,115.46,115.23
416,원유및천연가스,196.33,201.51,193.62,187.19,185.20,185.27,189.62,196.52,197.51,...,113.67,122.51,132.32,131.13,130.40,130.57,139.00,142.63,123.17,111.28
734,액화석유가스,223.27,212.75,209.24,190.31,176.83,177.29,185.24,191.71,201.85,...,110.71,110.57,117.45,130.96,131.33,137.18,143.90,153.17,124.75,100.99

In [153]:
import_index = import_index.transpose() #행 열 전환
import_index.rename(columns=import_index.iloc[0], inplace=True) # 행열이 전환된 데이터프레임의 열 이름 제대로 수정
import_index = import_index.drop(import_index.index[0])

In [154]:
import_index['연월일'] = import_index.index

In [155]:
import_index = import_index.reset_index(drop=True)

In [156]:
import_index

   석탄,원유및천연가스 천연가스(LNG) 원유및천연가스  액화석유가스        연월일
0      190.46    151.82  196.33  223.27  2013.01 월
1      194.75    154.08  201.51  212.75  2013.02 월
2      187.86    154.76  193.62  209.24  2013.03 월
3      182.29    151.69  187.19  190.31  2013.04 월
4       180.8    151.11   185.2  176.83  2013.05 월
..        ...       ...     ...     ...        ...
67     132.79    105.19  130.57  137.18  2018.08 월
68     140.82    111.67   139.0   143.9  2018.09 월
69     144.15    113.75  142.63  153.17  2018.10 월
70     127.28    115.46  123.17  124.75  2018.11 월
71     116.86    115.23  111.28  100.99  2018.12 월

[72 rows x 5 columns]

In [157]:
import_index['연월일'] = import_index['연월일'].str.slice(0,7)
import_index

   석탄,원유및천연가스 천연가스(LNG) 원유및천연가스  액화석유가스      연월일
0      190.46    151.82  196.33  223.27  2013.01
1      194.75    154.08  201.51  212.75  2013.02
2      187.86    154.76  193.62  209.24  2013.03
3      182.29    151.69  187.19  190.31  2013.04
4       180.8    151.11   185.2  176.83  2013.05
..        ...       ...     ...     ...      ...
67     132.79    105.19  130.57  137.18  2018.08
68     140.82    111.67   139.0   143.9  2018.09
69     144.15    113.75  142.63  153.17  2018.10
70     127.28    115.46  123.17  124.75  2018.11
71     116.86    115.23  111.28  100.99  2018.12

[72 rows x 5 columns]

In [158]:
for i in range(len(import_index['연월일'])):
    import_index['연월일'][i] = import_index["연월일"][i].replace('.', '-')

In [159]:
import_index

   석탄,원유및천연가스 천연가스(LNG) 원유및천연가스  액화석유가스      연월일
0      190.46    151.82  196.33  223.27  2013-01
1      194.75    154.08  201.51  212.75  2013-02
2      187.86    154.76  193.62  209.24  2013-03
3      182.29    151.69  187.19  190.31  2013-04
4       180.8    151.11   185.2  176.83  2013-05
..        ...       ...     ...     ...      ...
67     132.79    105.19  130.57  137.18  2018-08
68     140.82    111.67   139.0   143.9  2018-09
69     144.15    113.75  142.63  153.17  2018-10
70     127.28    115.46  123.17  124.75  2018-11
71     116.86    115.23  111.28  100.99  2018-12

[72 rows x 5 columns]

In [160]:
import_index['연월일'] = pd.to_datetime(import_index['연월일'])
import_index['year'] = import_index['연월일'].dt.year
import_index['month'] = import_index['연월일'].dt.month

In [161]:
import_index.drop(['연월일'], axis = 1, inplace = True)

전체 데이터 merge

In [162]:
main = spark.createDataFrame(main)

In [163]:
main.show(5)

+-------------------+----+----+--------+----+-----+---+
|             연월일|시간|구분|  공급량|year|month|day|
+-------------------+----+----+--------+----+-----+---+
|2013-01-01 00:00:00|   1|   0|2497.129|2013|    1|  1|
|2013-01-01 00:00:00|   2|   0|2363.265|2013|    1|  1|
|2013-01-01 00:00:00|   3|   0|2258.505|2013|    1|  1|
|2013-01-01 00:00:00|   4|   0|2243.969|2013|    1|  1|
|2013-01-01 00:00:00|   5|   0|2344.105|2013|    1|  1|
+-------------------+----+----+--------+----+-----+---+
only showing top 5 rows

In [169]:
from pyspark.sql.functions import expr
main = main.selectExpr("*", "연월일 As main_연월일", "시간 As main_시간", "구분 As main_구분", "공급량 As main_공급량")

ParseException:
Syntax error at or near '시'(line 1, pos 0)

== SQL ==
시간 As main_시간
^^^

In [108]:
import_index = spark.createDataFrame(import_index)

In [109]:
from pyspark.sql.functions import expr

df_import = import_index.selectExpr("*", "year As import_year", "month As import_month")

joinExpression = ((main["year"] == df_import["import_year"]) & (main["month"] == df_import["import_month"]))
joinType = "inner"
main = main.join(df_import, joinExpression, joinType)

In [112]:
main.show(5)

+-------------------+----+----+--------+----+-----+---+-------------------+-------------+--------------+------------+----+-----+-----------+------------+
|             연월일|시간|구분|  공급량|year|month|day|석탄,원유및천연가스|천연가스(LNG)|원유및천연가스|액화석유가스|year|month|import_year|import_month|
+-------------------+----+----+--------+----+-----+---+-------------------+-------------+--------------+------------+----+-----+-----------+------------+
|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|
|2013-04-01 00:00:00|   2|   0|1089.273|2013|    4|  1|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|
|2013-04-01 00:00:00|   3|   0|1013.553|2013|    4|  1|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|
|2013-04-01 00:00:00|   4|   0|1085.513|2013|    4|  1|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|
|2013-04-01 00:00:00|   5|   0|1265.209|2013|    4|  1|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|
+-------------------+----+----+--------+----+-----+---+-------------------+-------------+--------------+------------+----+-----+-----------+------------+
only showing top 5 rows

In [110]:
introduction = spark.createDataFrame(introduction)

In [113]:
df_intro = introduction.selectExpr("*", "year As intro_year")

joinExpression = main["import_year"] == df_intro["intro_year"]
joinType = "inner"
main = main.join(df_intro, joinExpression, joinType)

In [114]:
weather_total = spark.createDataFrame(weather_total)

In [116]:
df_weather = weather_total.selectExpr("*", "year As weather_year", "month As weather_month", "day As weather_day")

joinExpression = ((main["import_year"] == df_weather["weather_year"]) & (main["import_month"] == df_weather["weather_month"]) & (main["day"] == df_weather["weather_day"]) )
joinType = "inner"
main = main.join(df_weather, joinExpression, joinType)

In [117]:
electricity = spark.createDataFrame(electricity)

In [119]:
df_ele = electricity.selectExpr("*", "year As ele_year", "month As ele_month")

joinExpression = ((main["import_year"] == df_ele["ele_year"]) & (main["import_month"] == df_ele["ele_month"]))
joinType = "inner"
main = main.join(df_ele, joinExpression, joinType)

In [120]:
main.show()

+-------------------+----+----+-------+----+-----+---+-------------------+-------------+--------------+------------+----+-----+-----------+------------+----+------+------+-----------------+-------------+----------+-------------------+-----------+----+-----+---+------------+-------------+-----------+-------------------+----+----+------------------+----+-----+---+--------+--------+--------+--------+---------+
|             연월일|시간|구분| 공급량|year|month|day|석탄,원유및천연가스|천연가스(LNG)|원유및천연가스|액화석유가스|year|month|import_year|import_month|year|도입량|수요량|수요량_도시가스용|수요량_발전용|intro_year|               날짜|평균기온(℃)|year|month|day|weather_year|weather_month|weather_day|             연월일|시간|구분|            공급량|year|month|day|가스가격|전기가격|상대가격|ele_year|ele_month|
+-------------------+----+----+-------+----+-----+---+-------------------+-------------+--------------+------------+----+-----+-----------+------------+----+------+------+-----------------+-------------+----------+-------------------+-----------+----+-----+---+------------+-------------+-----------+-------------------+----+----+------------------+----+-----+---+--------+--------+--------+--------+---------+
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   1|   0|          1303.689|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   2|   0|          1089.273|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   3|   0|          1013.553|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   4|   0|          1085.513|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   5|   0|          1265.209|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   6|   0|          1417.585|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   7|   0|1641.2450000000003|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   8|   0|1641.2450000000003|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|   9|   0|1641.2450000000003|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  10|   0|1641.2450000000003|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  11|   0|          1577.009|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  12|   0|          1466.073|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  13|   0|          1403.977|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  14|   0|          1274.897|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  15|   0|          1157.001|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  16|   0|          1081.569|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  17|   0|          1103.497|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  18|   0|          1237.561|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  19|   0|          1548.193|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
|2013-04-17 00:00:00|   1|   0|962.057|2013|    4| 17|             182.29|       151.69|        187.19|      190.31|2013|    4|       2013|           4|2013| 39876| 38675|            19596|        19079|      2013|2013-04-17 00:00:00|       14.8|2013|    4| 17|        2013|            4|         17|2013-04-01 00:00:00|  20|   0|1641.2450000000003|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|
+-------------------+----+----+-------+----+-----+---+-------------------+-------------+--------------+------------+----+-----+-----------+------------+----+------+------+-----------------+-------------+----------+-------------------+-----------+----+-----+---+------------+-------------+-----------+-------------------+----+----+------------------+----+-----+---+--------+--------+--------+--------+---------+
only showing top 20 rows

In [152]:
oil = spark.createDataFrame(oil)

In [153]:
from pyspark.sql.functions import expr

df_oil = oil.selectExpr("*", "year As oil_year", "month As oil_month")

joinExpression = ((main["ele_year"] == df_oil["oil_year"]) & (main["ele_month"] == df_oil["oil_month"]))
joinType = "inner"
main = main.join(df_oil, joinExpression, joinType)

In [154]:
main.show(5)

+-------------------+----+----+--------+----+-----+---+------+------+-----------------+-------------+-------------------+-----------+-------------------+----+----+--------+----+-----+---+--------+--------+--------+--------+---------+-------------------+----+----+--------+----+-----+---+--------+--------+--------+--------+---------+
|             연월일|시간|구분|  공급량|year|month|day|도입량|수요량|수요량_도시가스용|수요량_발전용|               날짜|평균기온(℃)|             연월일|시간|구분|  공급량|year|month|day|가스가격|전기가격|상대가격|ele_year|ele_month|             연월일|시간|구분|  공급량|year|month|day|가스가격|기름가격|상대가격|oil_year|oil_month|
+-------------------+----+----+--------+----+-----+---+------+------+-----------------+-------------+-------------------+-----------+-------------------+----+----+--------+----+-----+---+--------+--------+--------+--------+---------+-------------------+----+----+--------+----+-----+---+--------+--------+--------+--------+---------+
|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1| 39876| 38675|            19596|        19079|2013-04-01 00:00:00|        9.2|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|  119.94|  169.75|    0.71|    2013|        4|
|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1| 39876| 38675|            19596|        19079|2013-04-01 00:00:00|        9.2|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|2013-04-01 00:00:00|   2|   0|1089.273|2013|    4|  1|  119.94|  169.75|    0.71|    2013|        4|
|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1| 39876| 38675|            19596|        19079|2013-04-01 00:00:00|        9.2|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|2013-04-01 00:00:00|   3|   0|1013.553|2013|    4|  1|  119.94|  169.75|    0.71|    2013|        4|
|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1| 39876| 38675|            19596|        19079|2013-04-01 00:00:00|        9.2|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|2013-04-01 00:00:00|   4|   0|1085.513|2013|    4|  1|  119.94|  169.75|    0.71|    2013|        4|
|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1| 39876| 38675|            19596|        19079|2013-04-01 00:00:00|        9.2|2013-04-01 00:00:00|   1|   0|1303.689|2013|    4|  1|  136.79|   113.3|  120.73|    2013|        4|2013-04-01 00:00:00|   5|   0|1265.209|2013|    4|  1|  119.94|  169.75|    0.71|    2013|        4|
+-------------------+----+----+--------+----+-----+---+------+------+-----------------+-------------+-------------------+-----------+-------------------+----+----+--------+----+-----+---+--------+--------+--------+--------+---------+-------------------+----+----+--------+----+-----+---+--------+--------+--------+--------+---------+
only showing top 5 rows

In [156]:
df = main.select("연월일", "시간", "구분", "공급량", "year", "month", "day", "도입량", "수요량", "수요량_도시가스용", "수요량_발전용", "날짜", "평균기온(℃)", "y", "가스가격", "전기가격", "상대가격")
df = df.selectExpr("*", "평균기온(℃) As 기온")
df.show()

AnalysisException: Reference '연월일' is ambiguous, could be: 연월일, 연월일, 연월일.