In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
#sparksession 드라이버 프로세스 얻기
spark = SparkSession.builder.appName("sample").master("local[*]").getOrCreate()
#클러스터모드의 경우 master에 local[*] 대신 yarn이 들어간다.
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)
#jupyter환경에서만 가능한 config, .show"()메소드를 사용할 필요없이 dataframe만 실행해도,정렬된 프린팅을 해준다.

In [554]:
main = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//main.csv", header="true", inferSchema="true", encoding="cp949")
oil = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//oil.csv", header="true", inferSchema="true", encoding="cp949")
electricity = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//electricity.csv", header="true", inferSchema="true",encoding="cp949")
import_index = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//import_index.csv", header="true", inferSchema="true",encoding="cp949")
lng = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//lng.csv", header="true", inferSchema="true",encoding="cp949")
introduction = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//introduction.csv", header="true", inferSchema="true",encoding="utf-8")
temp2013 = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//temp2013.csv", header="true", inferSchema="true",encoding="cp949")
temp2014 = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//temp2014.csv", header="true", inferSchema="true",encoding="cp949")
temp2015 = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//temp2015.csv", header="true", inferSchema="true",encoding="cp949")
temp2016 = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//temp2016.csv", header="true", inferSchema="true",encoding="cp949")
temp2017 = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//temp2017.csv", header="true", inferSchema="true",encoding="cp949")
temp2018 = spark.read.csv("C://Users//iam_o//BDP-Project//gas_data//temp2018.csv", header="true", inferSchema="true",encoding="cp949")

ConnectionRefusedError: [WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다

In [ ]:
main.select("구분").distinct().show()

In [ ]:
new = {}
for i, row_iterator in enumerate(main.select("구분").distinct().collect()):
    new[i] = row_iterator["구분"]

In [ ]:
import pandas as pd
main = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//main.csv", encoding="cp949")
oil = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//oil.csv", encoding="cp949")
electricity = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//electricity.csv", encoding="cp949")
import_index = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//import_index.csv", encoding="cp949")
lng = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//lng.csv", encoding="cp949")
introduction = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//introduction.csv", encoding="utf-8")
temp2013 = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//temp2013.csv", encoding="cp949")
temp2014 = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//temp2014.csv", encoding="cp949")
temp2015 = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//temp2015.csv", encoding="cp949")
temp2016 = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//temp2016.csv", encoding="cp949")
temp2017 = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//temp2017.csv", encoding="cp949")
temp2018 = pd.read_csv("C://Users//iam_o//BDP-Project//gas_data//temp2018.csv", encoding="cp949")

In [ ]:
main['구분'].unique()

In [ ]:
d_map={}
for i, d in enumerate(main['구분'].unique()):
  d_map[d] = i

In [ ]:
main['구분'] = main['구분'].map(d_map)
main['구분']

In [ ]:
main['연월일'] = pd.to_datetime(main['연월일'])
main['year'] = main['연월일'].dt.year
main['month'] = main['연월일'].dt.month
main['day'] = main['연월일'].dt.day

In [555]:
def outliers_processing(df):
  q1, q3 = np.percentile(df, [25, 75])
  iqr = q3-q1
  lower_bound = q1-(iqr*1.5)
  upper_bound = q3 + (iqr*1.5)
  return lower_bound, upper_bound

In [556]:
main_by_sections = {}
for i in range(7):
  main_by_sections[i] = main[main['구분'] == i]
main_by_sections

{0:               연월일  시간  구분       공급량  year  month  day
 0      2013-01-01   1   0  2497.129  2013      1    1
 1      2013-01-01   2   0  2363.265  2013      1    1
 2      2013-01-01   3   0  2258.505  2013      1    1
 3      2013-01-01   4   0  2243.969  2013      1    1
 4      2013-01-01   5   0  2344.105  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 315523 2018-12-31  20   0  3040.868  2018     12   31
 315524 2018-12-31  21   0  2973.577  2018     12   31
 315525 2018-12-31  22   0  2840.272  2018     12   31
 315526 2018-12-31  23   0  2692.385  2018     12   31
 315527 2018-12-31  24   0  2583.340  2018     12   31

 [52584 rows x 7 columns],
 1:               연월일  시간  구분       공급량  year  month  day
 8760   2013-01-01   1   1  2169.093  2013      1    1
 8761   2013-01-01   2   1  2051.733  2013      1    1
 8762   2013-01-01   3   1  1923.253  2013      1    1
 8763   2013-01-01   4   1  1927.253  2013      1    1
 8764   2013-01-01   5   1  2047.333  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 324283 2018-12-31  20   1  2668.688  2018     12   31
 324284 2018-12-31  21   1  2606.681  2018     12   31
 324285 2018-12-31  22   1  2540.169  2018     12   31
 324286 2018-12-31  23   1  2407.945  2018     12   31
 324287 2018-12-31  24   1  2290.154  2018     12   31

 [52584 rows x 7 columns],
 2:               연월일  시간  구분      공급량  year  month  day
 17520  2013-01-01   1   2  226.178  2013      1    1
 17521  2013-01-01   2   2  215.778  2013      1    1
 17522  2013-01-01   3   2  202.178  2013      1    1
 17523  2013-01-01   4   2  198.978  2013      1    1
 17524  2013-01-01   5   2  200.578  2013      1    1
 ...           ...  ..  ..      ...   ...    ...  ...
 333043 2018-12-31  20   2  265.980  2018     12   31
 333044 2018-12-31  21   2  262.239  2018     12   31
 333045 2018-12-31  22   2  256.000  2018     12   31
 333046 2018-12-31  23   2  246.020  2018     12   31
 333047 2018-12-31  24   2  237.911  2018     12   31

 [52584 rows x 7 columns],
 3:               연월일  시간  구분       공급량  year  month  day
 26280  2013-01-01   1   3  1434.516  2013      1    1
 26281  2013-01-01   2   3  1345.636  2013      1    1
 26282  2013-01-01   3   3  1270.756  2013      1    1
 26283  2013-01-01   4   3  1322.036  2013      1    1
 26284  2013-01-01   5   3  1421.956  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 341803 2018-12-31  20   3  1835.411  2018     12   31
 341804 2018-12-31  21   3  1767.964  2018     12   31
 341805 2018-12-31  22   3  1720.595  2018     12   31
 341806 2018-12-31  23   3  1624.138  2018     12   31
 341807 2018-12-31  24   3  1422.478  2018     12   31

 [52584 rows x 7 columns],
 4:               연월일  시간  구분       공급량  year  month  day
 35040  2013-01-01   1   4  3272.837  2013      1    1
 35041  2013-01-01   2   4  3057.125  2013      1    1
 35042  2013-01-01   3   4  2907.765  2013      1    1
 35043  2013-01-01   4   4  2930.789  2013      1    1
 35044  2013-01-01   5   4  3067.805  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 350563 2018-12-31  20   4  4074.485  2018     12   31
 350564 2018-12-31  21   4  4037.720  2018     12   31
 350565 2018-12-31  22   4  3954.210  2018     12   31
 350566 2018-12-31  23   4  3745.844  2018     12   31
 350567 2018-12-31  24   4  3534.260  2018     12   31

 [52584 rows x 7 columns],
 5:               연월일  시간  구분       공급량  year  month  day
 43800  2013-01-01   1   5  3560.365  2013      1    1
 43801  2013-01-01   2   5  3354.245  2013      1    1
 43802  2013-01-01   3   5  3115.757  2013      1    1
 43803  2013-01-01   4   5  3034.237  2013      1    1
 43804  2013-01-01   5   5  3050.469  2013      1    1
 ...           ...  ..  ..       ...   ...    ...  ...
 359323 2018-12-31  20   5  4657.562  2018     12   31
 359324 2018-12-31  21   5  4486.845  2018     12   31
 359325 2018-12-31  22   5  4354.915  2018     12   31
 359326 2018-12-31  23   5  4204.484  2018     12   31
 359327 2018-12-31  24   5  3982.757  2018     12   31

 [52584 rows x 7 columns],
 6:               연월일  시간  구분      공급량  year  month  day
 52560  2013-01-01   1   6  562.964  2013      1    1
 52561  2013-01-01   2   6  531.228  2013      1    1
 52562  2013-01-01   3   6  496.276  2013      1    1
 52563  2013-01-01   4   6  489.396  2013      1    1
 52564  2013-01-01   5   6  535.420  2013      1    1
 ...           ...  ..  ..      ...   ...    ...  ...
 368083 2018-12-31  20   6  681.033  2018     12   31
 368084 2018-12-31  21   6  669.961  2018     12   31
 368085 2018-12-31  22   6  657.941  2018     12   31
 368086 2018-12-31  23   6  610.953  2018     12   31
 368087 2018-12-31  24   6  560.896  2018     12   31

 [52584 rows x 7 columns]}

In [557]:
import numpy as np
lower = {}
upper = {}
for i in range(7):
  lower[i] = {}
  upper[i] = {}
  for j in range(12):
    lower[i][j], upper[i][j]= outliers_processing(main_by_sections[i][main_by_sections[i]['month'] == j+1]['공급량'])

In [558]:
main['lower'] =""
main['upper'] =""

In [559]:
for i in range(7):
  for j in range(12):
    main.loc[(main['구분']==i)&(main['month']==j+1),'lower' ] = lower[i][j]
    main.loc[(main['구분']==i)&(main['month']==j+1),'upper' ] = upper[i][j]

In [560]:
main['이상치처리_공급량'] =""
main['이상치처리_공급량'] = main.apply(lambda x: x['lower'] if x['공급량'] < x['lower'] else x['upper'] if x['공급량'] > x['upper'] else x['공급량'], axis = 1)

In [561]:
main['공급량'] = main['이상치처리_공급량']
main = main.drop(['lower', 'upper', '이상치처리_공급량'], axis = 1)
main

              연월일  시간  구분       공급량  year  month  day
0      2013-01-01   1   0  2497.129  2013      1    1
1      2013-01-01   2   0  2363.265  2013      1    1
2      2013-01-01   3   0  2258.505  2013      1    1
3      2013-01-01   4   0  2243.969  2013      1    1
4      2013-01-01   5   0  2344.105  2013      1    1
...           ...  ..  ..       ...   ...    ...  ...
368083 2018-12-31  20   6   681.033  2018     12   31
368084 2018-12-31  21   6   669.961  2018     12   31
368085 2018-12-31  22   6   657.941  2018     12   31
368086 2018-12-31  23   6   610.953  2018     12   31
368087 2018-12-31  24   6   560.896  2018     12   31

[368088 rows x 7 columns]

In [562]:
# # Electricity data preprocessing
electricity['연월'] = pd.to_datetime(electricity['연월'])
electricity['year'] = electricity['연월'].dt.year
electricity['month'] = electricity['연월'].dt.month

electricity = electricity.drop(['연월'], axis = 1)
electricity

ConnectionRefusedError: [WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다

In [ ]:
electricity_join = pd.merge(main,electricity, how='inner',on=('year', 'month'))

In [ ]:
electricity = electricity_join

In [ ]:
# # Oil data preprocessing

In [ ]:
oil['연월'] = pd.to_datetime(oil['연월'])
oil['year'] = oil['연월'].dt.year
oil['month'] = oil['연월'].dt.month

In [ ]:
oil = oil.drop(['연월'], axis = 1)
oil

In [ ]:
oil_join = pd.merge(main,oil, how='inner',on=('year', 'month'))
oil = oil_join

In [ ]:
# # Temp data preprocessing
temp_mean2013 = pd.pivot_table(temp2013, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2014 = pd.pivot_table(temp2014, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2015 = pd.pivot_table(temp2015, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2016 = pd.pivot_table(temp2016, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2017 = pd.pivot_table(temp2017, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()
temp_mean2018 = pd.pivot_table(temp2018, values="평균기온(℃)", index=["날짜"], aggfunc = np.mean).reset_index()

In [ ]:
temp_mean2013['날짜'] = temp_mean2013['날짜'].str.slice(1,)
temp_mean2014['날짜'] = temp_mean2014['날짜'].str.slice(1,)
temp_mean2015['날짜'] = temp_mean2015['날짜'].str.slice(1,)
temp_mean2016['날짜'] = temp_mean2016['날짜'].str.slice(1,)
temp_mean2017['날짜'] = temp_mean2017['날짜'].str.slice(1,)
temp_mean2018['날짜'] = temp_mean2018['날짜'].str.slice(1,)

In [ ]:
def df_duplicate(df):
  new_df = pd.DataFrame()
  for _ in range(7):
    new_df = pd.concat([new_df, df])
  return new_df

In [ ]:
weather_2013_total = df_duplicate(temp_mean2013)
weather_2014_total = df_duplicate(temp_mean2014)
weather_2015_total = df_duplicate(temp_mean2015)
weather_2016_total = df_duplicate(temp_mean2016)
weather_2017_total = df_duplicate(temp_mean2017)
weather_2018_total = df_duplicate(temp_mean2018)

In [ ]:
weather_total = pd.concat([weather_2013_total, weather_2014_total, weather_2015_total, 
                           weather_2016_total, weather_2017_total, weather_2018_total])

weather_total

In [ ]:
weather_total['날짜'] = pd.to_datetime(weather_total['날짜'])
weather_total['year'] = weather_total['날짜'].dt.year 
weather_total['month'] = weather_total['날짜'].dt.month 
weather_total['day'] = weather_total['날짜'].dt.day

In [ ]:
weather_total.drop(['날짜'], axis = 1)

In [ ]:
# # Import data preprocessing
import_index = import_index[import_index['계정코드별'].str.contains('가스', na = False)]

In [ ]:
import_index.drop(['Unnamed: 76','단위','항목'], axis=1, inplace=True)

In [ ]:
import_index = import_index[import_index['통화계약구분코드별'].str.contains('달러기준', na = False)]

In [ ]:
import_index.drop(['통화계약구분코드별'], axis=1, inplace=True)
import_index.head()

In [ ]:
import_index = import_index.transpose() #행 열 전환
import_index.rename(columns=import_index.iloc[0], inplace=True) # 행열이 전환된 데이터프레임의 열 이름 제대로 수정
import_index = import_index.drop(import_index.index[0])

In [ ]:
import_index['연월일'] = import_index.index

In [ ]:
import_index = import_index.reset_index(drop=True)

In [ ]:
import_index

In [ ]:
import_index['연월일'] = import_index['연월일'].str.slice(0,7)
import_index

In [ ]:
for i in range(len(import_index['연월일'])):
    import_index['연월일'][i] = import_index["연월일"][i].replace('.', '-')

In [ ]:
import_index

In [ ]:
import_index['연월일'] = pd.to_datetime(import_index['연월일'])
import_index['year'] = import_index['연월일'].dt.year
import_index['month'] = import_index['연월일'].dt.month

In [ ]:
import_index.drop(['연월일'], axis = 1, inplace = True)

In [ ]:
# # 전체 데이터 merge
main_join = pd.merge(main, import_index, how="inner", on=("year", "month"))

In [ ]:
main_join = pd.merge(main, introduction, how="inner", on=("year"))

In [ ]:
main_join = pd.merge(main_join, weather_total, how="inner", on=("year", "month", "day"))

In [ ]:
main_join = spark.createDataFrame(main_join)

In [ ]:
electricity = spark.createDataFrame(electricity)

In [ ]:
from pyspark.sql.functions import expr

df_ele = electricity.selectExpr("*", "year As ele_year", "month As ele_month")

joinExpression = ((main_join["year"] == df_ele["ele_year"]) & (main_join["month"] == df_ele["ele_month"]))
joinType = "inner"
new_main_join = main_join.join(df_ele, joinExpression, joinType)

In [ ]:
new_main_join.show()

In [ ]:
oil = spark.createDataFrame(oil)

In [ ]:
from pyspark.sql.functions import expr

df_oil = oil.selectExpr("*", "year As oil_year", "year As oil_month")

joinExpression = ((new_main_join["ele_year"] == df_oil["oil_year"]) & (new_main_join["ele_month"] == df_oil["oil_month"]))
joinType = "inner"
new_main_join = new_main_join.join(df_oil, joinExpression, joinType)

In [ ]:
new_main_join.show()

In [ ]:
df = new_main_join.select("연월일", "시간", "구분", "공급량", "year", "month", "day", "도입량", "수요량", "수요량_도시가스용", "수요량_발전용", "날짜", "평균기온(℃)", "y", "가스가격", "전기가격", "상대가격")
df = df.selectExpr("*", "평균기온(℃) As 기온")
df.show()

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 56685)
Traceback (most recent call last):
  File "C:\Users\iam_o\anaconda3\lib\socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "C:\Users\iam_o\anaconda3\lib\socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "C:\Users\iam_o\anaconda3\lib\socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "C:\Users\iam_o\anaconda3\lib\socketserver.py", line 747, in __init__
    self.handle()
  File "C:\spark\spark-3.3.1-bin-hadoop3\python\pyspark\accumulators.py", line 281, in handle
    poll(accum_updates)
  File "C:\spark\spark-3.3.1-bin-hadoop3\python\pyspark\accumulators.py", line 253, in poll
    if func():
  File "C:\spark\spark-3.3.1-bin-hadoop3\python\pyspark\accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "C:\spark\spark-3.3.1-bin-hadoop3\python\pyspark\serializers.py", line 593, in read_int
    length = stream.read(4)
  File "C:\Users\iam_o\anaconda3\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] 현재 연결은 원격 호스트에 의해 강제로 끊겼습니다
----------------------------------------